body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #009688;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #00796b;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 10px;
    position: ;
    width: 100%;
    bottom: 0;
}

h1, h2, h3 {
    color: #00796b;
}

.code-container {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    max-height: 300px;  /* Define a altura máxima da área de código */
    overflow-y: scroll; /* Habilita a rolagem vertical */
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap; /* Preserva a quebra de linha */
}
